html {
  background-color: #9af3ec;
}
body {
  font: 25px "Century Gothic", Futura, sans-serif;
}

button {
  border: 0px;
  font-size: 20px;
}

.motionControls {
  margin: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: flex;
}

.square {
  background: transparent;
  border: 0.01vw solid #555;
  float: left;
  font-size: 10px;
  /* font-weight: bold; */
  line-height: 0.9vw;
  height: 0.9vw;
  padding: 0;
  text-align: center;
  width: 0.9vw;
}

.dead {
  background-color: #000;
}

button:hover {
  background: #aaa;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.intro {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
}
.title {
  margin-top: 2vh;
  font-size: 45px;
}

.game {
  margin-left: 5vw;
}
